.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
    align-items: flex-start;
    gap: 20px;
    
}
.formwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 15px;
    margin-bottom: 100px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  color: darkred;
}
.container,.container2{
    background-color: burlywood;    
    padding: 20px;
    margin: 0px;
    border-radius: 10px;
}
.container2{
    margin-top: 15px;
}
.container3{
    margin-top: 15px;
    background-color: white;
    width: 95vw;
    height: 70vh;
    padding: 20px;
    border-radius: 10px;
}
.applybutton {
    display: flex;
    justify-content: center;
}
.form-row{
    display: flex;
}
.prodcard{
    display: flex;
    margin-bottom: 15px;
    border-bottom: 4px solid burlywood;
}
.middle,.right{
    display: flex;
    flex-direction: column;
}
.middle h5,h6{
    font-family: cursive;
}
.right{
    margin-left: auto;
    align-items: center;
}
.right p{
    font-weight: bold;
    font-family: cursive;
}
.list-group-item{
    display: flex;
    justify-content: space-between;
}



/* css for when cart is empty */
.center{    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;    height: 250px;
    width: 450px;    
    margin: 20px 0px;
    border-radius: 10px;
}
label{
    font-weight: bolder;
}
@media(min-height: 1200px){
    .card{
        width: 60rem !important;
    }
    .center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }
}
@media(max-width: 700px){
    #expCode{
        width: 70%;
    }
    #secCode{
        width: 30%;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 99vw;
    }
    .formwrapper{
        width: 100%;        
    }
    .container,.container2{
        padding: 0px;
    }
    .card{
        width: 100vw;
    }
    input[type=checkbox]{
  /* Double-sized Checkboxes */
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */  
    }
    
    .center{
        align-items: center;
    }    
    .center img,.center button{
        width: 100%;
    }    
}