.container{
    background-color: burlywood;
    min-width: 97vw;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;

}
.top{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-bottom: 20px;
    
    align-items: center;
    
    width: 70%;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 20px;
    width: 70%;

}
h3{
    /* width: 400px; */
    font-family: cursive;
    font-weight: 800;
    /* margin-top: 50px; */
}
p{
    /* background-color: gainsboro; */
    /* max-width: 500px;
    margin-left: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    border-radius: 10px;
}
@media(max-width: 700px) or (max-height: 500px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .top{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0px;
        
    }
    .top img{
        width: 100%;
        height: auto;
    }
    
        
    
     p{
        margin-left: 0;
        /* max-width: 100px; */
        flex-wrap: wrap;
    }
    .bottom{        
        width: 95%;    
    }
}
@media (min-height: 1000px){
    .bottom{
        font-size: 27px;
    }
    .bottomHeader{
        font-size: 30px !important;
    }
}