<ng-container *ngIf="products.length != 0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>                            
                            <th></th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Price</th>
                            <th style="min-width: 175px !important; max-width: 175px !important" class="quantity">Quantity</th>
                            <th style="min-width: 175px !important; max-width: 175px !important">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">                            
                            <td><img src="{{ item.image }}" style="width: 120px; height:140px" (load)="onImageLoad($event)"></td>
                            <td>{{item.name}}</td>
                            <td>{{ item.auth }}</td>
                            <td>${{ item.price }}</td> 
                            <td style="min-width: 175px !important; max-width: 175px !important" class="plusminus"><button (click)="onRemoveQuantity(item)"><h4 style="font-size: 35px;">-</h4></button><p>{{ item.quantity }}</p><button (click)="onAddQuantity(item)"><h4 style="font-size: 22px;">+</h4></button></td>
                            <td  style="min-width: 175px !important; max-width: 175px !important">${{ totalMult(item) }}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-light"><img src="../../assets/trash.png"></button>
                            </td>
                        </tr>
                        <tr class="tableFooter">
                            <td id="grandTotal" colspan="4" style="text-align: center; vertical-align: middle; font-size: 20px;"><strong>Grand Total: ${{ grandTotal }}</strong></td>                            
                            <td ><button id="bottomButtons" (click)="emptyCart()" class="btn btn-danger">Empty Cart</button></td>
                            <td ><button id="bottomButtons" [routerLink]="['/products']" class="btn btn-primary">Continue Shopping</button></td>
                            <td ><button id="bottomButtons" [routerLink]="['/checkout']"  class="btn btn-success">Checkout</button></td>
                            
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>




<ng-container *ngIf="products.length ===0">
    <div class="container2">                       
        <div class="center">
            <h5 class="card-title">Uh oh...</h5>     
            <img src="../../assets/emptycart.png" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add items please...</h6>
            <button [routerLink]="['/products']"  class="btn btn-danger">Shop Now</button>
        </div>
    </div>
</ng-container>