body{
    min-height: 100vh;    
}
nav{
    
    min-width: 100vw;
}
#searchButton{
    width: 100%;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 5px;
}
.container{
    background-color: darkred;
    max-width: 100%;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: #ddd;
    margin: 0px 10px;
}
.footer {
    height: 38px; 
    width: 100%; 
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-color: burlywood;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    z-index: 3;
}   
.firstSocial{
    color: black;
}
.footerContents {
    height:24px; 
    width: 1000px;
    margin:auto;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.footer img{
    width: 25px;
    height: auto;
}
form{
    display: flex;
    gap: 10px;
    padding-right: 10px;
    margin-left: auto;
}
.navicon{
    background-color: red;
}
.nav-cart{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-cart.nav-link{
    padding: 0px;
    margin: 0px;
}
.counter{
    padding: 0px;
    margin: 0px;
    opacity: 70%;
    color: white;
}
.search{
    display: flex;
}

.menu a:hover{
    color: burlywood;
}
.modalForm, .modal-header, .modal-body, .modal-footer{
    background-color: burlywood;
}
#mobileCart2{
    display: none;
}
#profileName{
    margin-right: 25px;
}
#logoutButton{
    margin-right: 11px;
}

@media(max-width: 700px) or (max-height: 500px){
    .footer{
        height: 60px;
        width: 100vw;
    }
    .firstSocial{
        width: 100%;
    }
    .footerContents{
        height: 60px;
        width: 100vw;
        display: block;
        padding-top: 5px;
        
        /* display: flex;
        flex-wrap: wrap;
        justify-content: center; */
    }
    .footerImg{
        display: flex;
        overflow-x: auto;
    }
    #tableContainer{
        overflow-x: auto;
    }
    #mobileCart1{
        display: none;
    }
    #mobileCart2{
        display: contents;
    }
    .navbar-brand{
        font-size: 15px;
    }
    .container-fluid{
        margin: 0;
        padding: 0;        
    }
    #profileName{
        font-size: 13px;
        margin-right: 4.5vw;
    }
    .counter{
        
        margin: 0;
        padding: 0;
    }
    #mobileCartImg{
        width: 26px !important;
        margin: 0;
        padding: 0;
    }
    #navLinkCart{
        margin: 0;
        padding: 0;
    }
    .navbar-toggler{        
        margin-left: 5vw;
    }
    
}


