<div class="container">
  <!-- When page shrinks in size -->
  <ng-template #content let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title"><img class="navicon" src="/assets/booklogo.png"></h4>
      <button type="button" class="btn-close btn-close-white" aria-label="Close"
        (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">

      <div class="menu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a  (click)="offcanvas.close('Close click')" class="nav-link" [routerLink]="['home']">Home</a>
          </li>          
          <li class="nav-item">
            <a (click)="offcanvas.close('Close click')"  class="nav-link" [routerLink]="['about']">About</a>
          </li>
          <li class="nav-item">
            <a (click)="offcanvas.close('Close click')"  class="nav-link" [routerLink]="['products']">Products </a>
          </li>
          <li class="nav-item">
            <a (click)="offcanvas.close('Close click')"  class="nav-link" [routerLink]="['contact']">Contact </a>
          </li>     
          
                               

          <!-- Login Info -->
          <li class="nav-item" *ngIf="showAdminBoard">
            <a (click)="offcanvas.close('Close click')" href="/admin" class="nav-link" [routerLink]="['admin']">Admin Board</a>
          </li>

          <ul (click)="offcanvas.close('Close click')" class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
               
              <a (click)="offcanvas.close('Close click')"  class="nav-link"  href="/register" [routerLink]="['register']">Sign Up</a>
            </li>
            <li class="nav-item">
              <a (click)="offcanvas.close('Close click')"  class="nav-link" href="/login" [routerLink]="['login']">Login</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
              <a (click)="offcanvas.close('Close click')" href="/profile" class="nav-link" [routerLink]="['profile']">Logged in as: {{ username }}</a>
            </li>
            <li class="nav-item">
              <button (click)="offcanvas.close('Close click')" class="btn btn-danger" (click)="logout()">LogOut</button>
            </li>
          </ul>
                          

        </ul>
        <!-- nav-cart -->
        <form class="form-inline my-2 my-lg-0">
          <div class="nav-cart">            
            <p class="counter">({{ totalItem }})</p>
            <a (click)="offcanvas.close('Close click')" class="nav-link" [routerLink]="['cart']"><img src="../assets/cart.png"
                style="width: 32px;height: auto;"></a>
          </div>
        </form>
      </div>


      <div class="text-end">
        <button type="button" class="btn btn-danger" (click)="offcanvas.close('Close click')">Close</button>
      </div>
    </div>
  </ng-template>  


  <ng-template #content2 let-modal class="lol">
  <div class="modal-header">
    <h4 class="modal-title" style="font-size: 30px;" >Search</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <form class="modalForm">
      <div class="mb-3" style="width: 100%;">
        <label for="search"></label>
        <div class="input-group" style="width: 100%;">

          <div style="width: 100%;">
            <div class="input-group">
              <select id="role" name="role" class="form-control" [(ngModel)]="selectedOption">
                <option value="" [disabled]="true">Select Search Method</option>
                <option *ngFor="let option of options" [value]="option.value">
                  {{ option.label }}
                </option>
              </select>
            </div>

            <input [(ngModel)]="this.query" id="search" name="search" placeholder="Hmm..." type="search" style="width: 100%; height: 50px; background: black; color: red;">  
          </div>
          
          
          <button type="button" class="btn btn-success" (click)="searchDB()" style="width: 100%; font-weight: bolder; font-size: 15px; margin-top: 5px;">Go</button>       
        </div>
      </div>
    </form>

    <div *ngIf="searched">    
      <table class="table table-responsive" *ngIf="searchBooks.length > 0; else other_content">
        <thead>
            <tr style="font-weight: bolder; font-size: 23px;">
                <th>Image</th>
                <th>ISBN</th>
                <th>Name</th>
                <th>Author</th>
                <th>Year</th>
                <th>Publisher</th>              
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr style="font-weight: bolder; font-size: 18px;" *ngFor="let b of searchBooks">
              <td><img src="{{ b.image }}" style="width: 120px; height:140px; border-radius: 16px;" (load)="onImageLoad($event)"></td>
                <!-- <td>{{ b.id }}</td> -->
                <td>{{ b.isbn }}</td>
                <td>{{ b.name }}</td>
                <td>{{ b.auth }}</td>
                <td>{{ b.year }}</td>
                <td>{{ b.publisher }}</td>              
                <td>{{ b.price }}</td>
                <td>{{ b.qty }}</td>
            </tr>
        </tbody>
      </table>


      <ng-template #other_content style="width: 100%;">
        <h4>No Results Found</h4>
        <img src="../../assets/emptycart.png" style="width: 30%; height: auto;margin-left: 35%;border-radius: 16px;" >
      </ng-template>
    </div>
                

  </div>
  <div class="modal-footer">    
    <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>






  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']"><img class="navicon" src="/assets/booklogo.png">{{ sitename }}</a>
      <button (click)="openCustomPanelClass(content)" class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['about']">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['products']">Products </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['contact']">Contact </a>
          </li>          

          <!-- Login Info -->
          <li class="nav-item" *ngIf="showAdminBoard">
            <a href="/admin" class="nav-link" [routerLink]="['admin']">{{boardName}}</a>
          </li>

          <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
               
              <a  class="nav-link" href="/register" [routerLink]="['register']" >Sign Up</a>
            </li>
            <li class="nav-item">
              <!-- href="/login" [routerLink]="['login']" -->
              <a  class="nav-link" href="/login" [routerLink]="['login']">Login</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
              <a href="/profile" class="nav-link" [routerLink]="['profile']">Logged in as: {{ username }}</a>
            </li>
            <li class="nav-item">
              <button class="btn btn-danger" (click)="logout()">LogOut</button>
            </li>
          </ul>
          <div style="height: 35px; margin-left: 20px;">
            <!-- <input placeholder="Hmm..." type="search" style="width: 280px; height: 35px; background: black !important; color: red;"> -->
            <button style="background-color: black; border-radius: 50%;" (click)="openLg(content2)">              
               <img src="../assets/search.png" style="width: 35px; height: auto;" />
            </button>
            <!-- <img src="../assets/search.png" style="width: 35px; height: auto;" (onclick)="openLg(content2)" /> -->
          </div>


        </ul>
        <!-- nav-cart -->
        <form class="form-inline my-2 my-lg-0">
          <div class="nav-cart">
            <p class="counter">({{ totalItem }})</p>
            <a class="nav-link" [routerLink]="['cart']"><img src="../assets/cart.png"
                style="width: 32px;height: auto;"></a>
          </div>
        </form>

      </div>
    </div>

  </nav>





  <router-outlet></router-outlet>
  
  <div class="footer">
    <div class="footerContents">Follow us @BooksAndCrannies:
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img
          class="social" src="../assets/footer/myspace.png"></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img
          class="social" src="../assets/footer/facebook.png"></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img
          class="social" src="../assets/footer/twitter.png"></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img
          class="social" src="../assets/footer/instagram.png"></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img
          class="social" src="../assets/footer/reddit.png"></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img
          class="social" src="../assets/footer/tumblr.png"></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img
          class="social" src="../assets/footer/snapchat.png"></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img
          class="social" src="../assets/footer/vine.png"></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img
          class="social" src="../assets/footer/youtube.png"></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img
          class="social" src="../assets/footer/twitch.png"></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img
          class="social" src="../assets/footer/pinterest.png"></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img
          class="social" src="../assets/footer/tiktok.png"></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img
          class="social" src="../assets/footer/spotify.png"></a>
    </div>

  </div>

</div>