<!-- Modal pop up -->
<ng-template #content let-modal class="lol">
  <div class="modal-header">
    <h4 class="modal-title">Get notified when this product is back in stock</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <form class="modalForm">
      <div class="mb-3">
        <label for="email">Email address</label>
        <div class="input-group">
          <input id="email" class="form-control" placeholder="someone@example.com" name="email" />
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Submit</button>
  </div>
</ng-template>

<ng-template #bookLoader>
  <app-loader></app-loader>
</ng-template>

<button id="scrollButton" (click)="jumpToTop()">Top</button>

<!-- Main product display -->
<div class="container">  
  <!-- Highlight filter/search div -->
  <div class="filtering" [ngClass]="{changeBackground: searchText != ''}">
    <app-filter [all]="returnAllProd()" [avail]="returnAvailProd()" [unavail]="returnUnavailProd()"
      (filterRadioButtonSelectionChanged)="onFilterRadioButtonChanged($event)">
    </app-filter>
    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
  </div>

  <div class="subcontainer" *ngIf="books.length > 0; else bookLoader">
    <div class="wrapper" *ngFor="let book of books; let i = index">
      <!-- Search function -->
      <ng-container
        *ngIf="searchText === '' || (book.name.toLowerCase().includes(searchText) || book.auth.toLowerCase().includes(searchText))">
        <!-- Radio function display -->
        <div class="transition"
          *ngIf="productsCountRadioButton === 'All' || productsCountRadioButton === returnAvail(book)">

          <div class="card-header">
            <ul class="nav nav-pills card-header-pills" style="display: flex; justify-content: center;">
              <li class="nav-item">
                <button class="btn btn-success" *ngIf="book.qty != 0; else notifyme" (click)="addToCart(book)">Add To
                  Cart</button>
                <!-- Modal function call here -->
                <ng-template #notifyme><button class="btn btn-danger" (click)="openLg(content)">Notify
                    Me</button></ng-template>
              </li>
              <li class="nav-item">
                <button class="btn btn-dark"  (click)="openModal(book)">Details</button>
                <details hidden #details></details>
              </li>
            </ul>
          </div>

          <div class="card text-white bg-dark" style="width: 20rem; height: 28rem">
            <div class="stage">
              <div [ngClass]="getFavorites(book.id) ? 'heart is-active' : 'heart'" id="{{'heart' + i}}" (click)="heartAnimation('heart' + i,book.id)"></div>
            </div>
            <div class="zoom">
              <!-- Custom image mapping function -->
              <!-- <img class="card-img-top" src="{{emitImage(book)}}" alt="Card image cap"> -->               
              <img class="card-img-top" src={{book.image}} alt="Card image cap" (load)="onImageLoad($event)">
            </div>
            <p class="card-text">Current Stock: {{book.qty}}</p>
            <p class="card-text">${{book.price}}</p>
          </div>

        </div>

      </ng-container>





      <!-- Description Modal -->
    <ng-template #longContent let-modal class="nope">
      <div class="modal-header">
        <h3 class="modal-title">{{ book.name }}</h3>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="modalimage">
          <img src="{{book.image}}" (load)="onImageLoad($event)">
          <h3>By: {{book.auth}}</h3>
          <h3>ISBN: {{book.isbn}}</h3>
        </div>
        <div class="descContainer">
          <a [href]="bookLink2" target=”_blank”><p>{{bookLink2}}</p></a>
          <a [href]="bookLink" target=”_blank”><p>{{bookLink}}</p></a>
          <hr style="color: darkred; border: 2px solid;">
          <p>{{bookDes}}</p>
          <hr style="color: darkred; border: 2px solid;">
        </div>        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>

    </div>
  </div>
  <div class="go-to-container" style="display: flex; justify-content: end; align-items: start;">
    <mat-form-field style="width: 90px">
			<mat-select [(ngModel)]="goTo" (selectionChange)="goToChange()">
				<mat-option *ngFor="let pageNumber of pageNumbers" [value]="pageNumber">{{pageNumber}}</mat-option>
			</mat-select>
		</mat-form-field>
  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageIndex]="currentPage - 1"
    [pageSizeOptions]="[25,50,100,250]"
    (page)="onPageChange($event)"
    aria-label="Select Page"
    showFirstLastButtons="true"
  >  
  </mat-paginator>    			    
</div>
<div class="fas fa-search search-icon"></div>